#card_0 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/90/RWS_Tarot_00_Fool.jpg");
}

#card_1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/de/RWS_Tarot_01_Magician.jpg");
}

#card_2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/88/RWS_Tarot_02_High_Priestess.jpg");
}

#card_3 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d2/RWS_Tarot_03_Empress.jpg");
}

#card_4 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c3/RWS_Tarot_04_Emperor.jpg");
}

#card_5 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/RWS_Tarot_05_Hierophant.jpg");
}

#card_6 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3a/TheLovers.jpg");
}

#card_7 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9b/RWS_Tarot_07_Chariot.jpg");
}

#card_8 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f5/RWS_Tarot_08_Strength.jpg");
}

#card_9 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4d/RWS_Tarot_09_Hermit.jpg");
}

#card_10 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/RWS_Tarot_10_Wheel_of_Fortune.jpg");
}

#card_11 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e0/RWS_Tarot_11_Justice.jpg");
}

#card_12 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2b/RWS_Tarot_12_Hanged_Man.jpg");
}

#card_13 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/RWS_Tarot_13_Death.jpg");
}

#card_14 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f8/RWS_Tarot_14_Temperance.jpg");
}

#card_15 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/RWS_Tarot_15_Devil.jpg");
}

#card_16 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/53/RWS_Tarot_16_Tower.jpg");
}

#card_17 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/RWS_Tarot_17_Star.jpg");
}

#card_18 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7f/RWS_Tarot_18_Moon.jpg");
}

#card_19 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/17/RWS_Tarot_19_Sun.jpg");
}
#card_20 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/dd/RWS_Tarot_20_Judgement.jpg");
}

#card_21 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/RWS_Tarot_21_World.jpg");
}

#card_22 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/11/Wands01.jpg");
}

#card_23 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0f/Wands02.jpg");
}

#card_24 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Wands03.jpg");
}

#card_25 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a4/Wands04.jpg");
}

#card_26 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9d/Wands05.jpg");
}

#card_27 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Wands06.jpg");
}

#card_28 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/Wands07.jpg");
}

#card_29 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6b/Wands08.jpg");
}

#card_30 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4d/Tarot_Nine_of_Wands.jpg");
}

#card_31 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Wands10.jpg");
}

#card_32 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/Wands11.jpg");
}

#card_33 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/16/Wands12.jpg");
}

#card_34 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0d/Wands13.jpg");
}

#card_35 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/ce/Wands14.jpg");
}

#card_36 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/36/Cups01.jpg");
}

#card_37 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f8/Cups02.jpg");
}

#card_38 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Cups03.jpg");
}

#card_39 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Cups04.jpg");
}

#card_40 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/Cups05.jpg");
}

#card_41 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/17/Cups06.jpg");
}

#card_42 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ae/Cups07.jpg");
}

#card_43 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/60/Cups08.jpg");
}

#card_44 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/24/Cups09.jpg");
}

#card_45 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/84/Cups10.jpg");
}

#card_46 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ad/Cups11.jpg");
}

#card_47 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fa/Cups12.jpg");
}

#card_48 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Cups13.jpg");
}

#card_49 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Cups14.jpg");
}

#card_50 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1a/Swords01.jpg");
}

#card_51 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Swords02.jpg");
}

#card_52 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/02/Swords03.jpg");
}

#card_53 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bf/Swords04.jpg");
}

#card_54 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/23/Swords05.jpg");
}

#card_55 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/29/Swords06.jpg");
}

#card_56 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/34/Swords07.jpg");
}

#card_57 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a7/Swords08.jpg");
}

#card_58 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Swords09.jpg");
}

#card_59 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Swords10.jpg");
}

#card_60 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Swords11.jpg");
}

#card_61 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b0/Swords12.jpg");
}

#card_62 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Swords13.jpg");
}

#card_63 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/33/Swords14.jpg");
}

#card_64 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fd/Pents01.jpg");
}

#card_65 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9f/Pents02.jpg");
}

#card_66 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Pents03.jpg");
}

#card_67 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Pents04.jpg");
}

#card_68 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/96/Pents05.jpg");
}

#card_69 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a6/Pents06.jpg");
}

#card_70 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/Pents07.jpg");
}

#card_71 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Pents08.jpg");
}

#card_72 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Pents09.jpg");
}

#card_73 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Pents10.jpg");
}

#card_74 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ec/Pents11.jpg");
}

#card_75 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d5/Pents12.jpg");
}

#card_76 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/88/Pents13.jpg");
}

#card_77 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1c/Pents14.jpg");
}
