#game {
  background-color: #00512c;
  margin: 0;
  height: 100vh;
}

#game header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #432616;
  height: fit-content;
  width: 100%;
  display: inline-block;
  overflow: auto;
}

.right {
  float: right;
}

#game header button {
  color: #000000;
  background: #ffffff5a;
  border: none;
  height: 100%;
  margin: 0;
  font-size: large;
}

#game header button:hover {
  background: #ffffff;
}

.card {
  position: absolute;
  aspect-ratio: 7/12;
  width: 5%;
  background-size: 100% 100%;
}

.stock {
  cursor: pointer;
}

.facedown {
  background-image: url("/img/backing1.png");
}

.slot {
  position: absolute;
  aspect-ratio: 7/12;
  width: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
